<FilesMatch ".(eot|ttf|otf|woff)">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>
<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1 [L] 

</IfModule>

<IfModule mod_php5.c>
#php_value post_max_size 2000M
#php_value upload_max_filesize 2000M
#php_value max_execution_time 18000000
#php_value memory_limit  512M
</IfModule>
